<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Mmit Refactorius Repo" value="https://mmitintl.pkgs.visualstudio.com/_packaging/RefactoriusPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>

